body {
  background-color: seashell;
}
h1 {
  color: palevioletred;
  text-align: center;
}
h2 {
  color: blueviolet;
  text-align: center;
}
a {
  color: navy;
  display: block;
  text-align: center;
}

img {
  display: grid;
  place-items: center;
}
