body {
  background-color: seashell;
}
h1 {
  color: palevioletred;
  text-align: center;
}
h2 {
  color: blueviolet;
  text-align: center;
}
a {
  color: darkgrey;
  display: block;
  text-align: center;
  text-decoration: none;
}
